[package]
name = "cw-ica-controller"
version = "0.5.0"
authors = ["srdtrk <srdtrk@hotmail.com>"]
edition = "2021"
description = "This is a CosmWasm implementation of an ICS-27 interchain accounts controller."
repository = "https://github.com/srdtrk/cw-ica-controller"
license = "Apache-2.0"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]
doctest = false

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true

[features]
# disable export feature to disable all instantiate/execute/query exports
default = ["export", "staking"]
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]
export = []
staking = ["cosmwasm-std/staking"]

[package.metadata.scripts]
optimize = """docker run -it --rm -v "$(pwd)":/contract \
  --mount type=volume,source="$(basename "$(pwd)")_cache",target=/code/target \
  --mount type=volume,source=registry_cache,target=/usr/local/cargo/registry \
  enigmampc/secret-contract-optimizer:latest
"""

[dependencies]
cosmwasm-schema = "1.5.0"
cosmwasm-std = { package = "secret-cosmwasm-std", version = "1.1.11", features = [
    "stargate",
    "ibc3",
] }
secret-toolkit = "0.10.0"
schemars = "0.8.10"
serde = { version = "1.0", default-features = false, features = ["derive"] }
serde-json-wasm = "1.0.0"
thiserror = "1.0.50"
cosmos-sdk-proto = { version = "0.20.0", default-features = false, features = ["cosmwasm"] }
semver = "1.0"
cw-ica-controller-derive = "0.4.2"


[dev-dependencies]
base64 = "0.13.1"
